.country-top-wrapper {
    background-image: url("./assets/spain1-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.country-top {
    margin: 0 auto;
    padding: 230px 45px 105px;
    max-height: 700px;
    max-width: 1200px;


    @include mobile {
        padding: 15% 2%;
    }
    
    @include mobile-w {
        padding: 15% 2%;
    }
    
    @include tablet {
        padding: 10% 5%;
    }
    
    @include laptop {
        padding: 15% 5%;
    }
}


.place-t {
    max-width: 540px;
    width: 100%;
    max-height: 370px;
    height: 370px;
    padding: 49px 30px;
    background-color: rgba(51, 51, 51, 0.85);


    @include mobile {
        padding: 10% 5%;
        max-height: none;
        height: 100%;
    }
    
    @include mobile-w {
        padding: 10% 5%;
        max-height: none;
        height: 100%;
    }

    @include tablet {
        padding: 5% 5%;
        max-height: none;
        height: 100%;
    }


    &__name {
        @include text($josefin, 22px, 100, $clr-txt-secnd);
        text-transform: capitalize;
        margin-bottom: 28px;


        @include tablet {
            font-size: 26px;
        }
    }

    &__title {
        @include text($josefin, 19px, 100, $clr-txt-prim);
        text-transform: uppercase;
        margin-bottom: 23px;


        @include tablet {
            font-size: 26px;
        }
    }

    &__description {
        @include text($josefin, 16px, 100, $clr-txt-secnd);
        line-height: 1.6;
        margin-bottom: 43px;


        @include mobile {
            font-size: 20px;
        }
        
        @include mobile-w {
            font-size: 20px;
        }

        @include tablet {
            font-size: 22px;
        }
    }

    &__book-btn {

        @include mobile {
            width: 100%;
        }
        
        @include mobile-w {
            width: 100%;
        }
    }
}