.howit-wrapper {
    max-width: 100vw;
    background-color: #333333;
    background-image: url("../../assets/shape.png");
    background-repeat: no-repeat;
    background-size: 44%;
    background-position: 50% 20%;


    @include mobile {
        background-image: none;
    }
    
    @include mobile-w {
        background-image: none;
    }
}


.how-it-works {
    margin: 0 auto;
    padding: 99px 113px 110px;
    max-width: 1200px;
    max-height: 350px;


    @include mobile {
        padding: 5% 3%;
    }
    
    @include mobile-w {
        padding: 5% 3%;
    }
    
    @include tablet {
        padding: 10% 3%;
    }
}


.order {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    &__step {
        max-width: 220px;
        text-align: center;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        &__icon {
            display: block;
            font-size: 60px;
            margin-bottom: 26px;
            background-color: #333333;
            border-radius: 50%;


            @include mobile {
                font-size: 35px;
            }
            
            @include mobile-w {
                font-size: 35px;
            }
        }

        &__text {
            @include text($aleo, 36px, 400, $clr-txt-secnd);
            text-transform: capitalize;


            @include mobile {
                font-size: 22px;
                display: block;
                max-width: 120px;
            }  
            
            @include mobile-w {
                font-size: 22px;
                display: block;
                max-width: 120px;
            }
        }
    }

}