.whoweare-wrapper {
    max-width: 100vw;
    background-image: url("../../assets/choose-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.who-we-are {
    margin: 0 auto;
    padding: 120px 2px;
    max-width: 1110px;
    max-height: 685px;
}

.wwa-cont {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article {
    padding-top: 80px;
    max-width: 535px;

    &__title {
        @include text($aleo, 36px, 400, $clr-txt-prim);
        text-transform: capitalize;
        margin-bottom: 53px;
    }

    &__text {
        @include text($josefin, 19px, 100, $clr-txt-secnd);
        line-height: 1.39;
        margin-bottom: 28px;
    }

    &__explore-btn {
        margin-top: 15px;
    }

}


.gallery {
    max-width: 470px;

    &__picture-top {
        margin-right: 120px;
    }

    &__picture-bott {
        margin-left: 120px;
    }
}