body {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 1280px;
    height: 980px;
    width: 80%;
    background-color: #ffffff;
}

.page-header {
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.page-header span {
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 4px;
    color: #898f99;
}

.page-header h2 {
    margin: 15px auto 0px auto;
    font-size: 42px;
    font-weight: 600;
    color: #06C9CC; 
    letter-spacing: 6px;
}

.page-header p {
    margin: 20px auto 0px auto;
    width: 440px;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 1.7;
    color: #999999;
}

.content {
    margin: 100px 100px auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.advantages-link {
    text-decoration: none;
}

.advantages-link:hover  .advantages h3,
.advantages-link:hover  .advantages p {
    color: #ffffff;
}

.advantages-link:hover .advantages {
    background-color: #06C9CC;
}


.advantages-link:hover .icon path {
    fill: #ffffff;
}

.advantages {
    width: 230px;
    height: 420px;
    background-color: #F7F7F7;
    border: 1px solid #ececec;
}

.advantages .icon {
    margin-top: 55px;
}

.graphics .icon {
    margin-top: 63px;
}

.illustrations .icon {
    margin-top: 60px;
}

.advantages h3 {
    margin: 55px auto 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1b1b1b;
}

.development h3 {
    margin-top: 40px;
    width: 150px;
}

.graphics h3 { 
    margin-top: 64px;
}

.illustrations h3 {
    margin-top: 63px;
}

.advantages p {
    margin: 39px 30px auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #777777;
    width: 170px;
}

.development p {
    margin-top: 30px;
}




