* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url("./assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding: 5%;
    padding-left: 1%;
    width: 66vw;
    float: left;
    
    position: relative;
}

.search-form {
    margin: 0 0 20px 120px;
    width: 70%;
    height: 30px;
}

.search-inp {
    width: 45%;
    height: 30px;
    outline: none;
    border-color: rgb(255, 149, 167);
    border-radius: 5px;
    padding-left: 10px;
    background: linear-gradient(135deg, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    font-size: 18px;
    text-transform: capitalize;
    color: #099FFF;
}

.search-inp::-webkit-input-placeholder {
    color: #099FFF;
}

.search-inp::-moz-placeholder {
    color: #099FFF;
}

.search-inp:-ms-input-placeholder {
    color: #099FFF;
}

.search-inp::-ms-input-placeholder {
    color: #099FFF;
}

.search-inp::placeholder {
    color: #099FFF;
}

.type-select {
    width: 100px;
    height: 30px;
    background-color: #099FFF;
    outline: none;
    border-color: rgb(255, 149, 167);
    color: rgb(255, 149, 167);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}


.search-btn {
    width: 100px;
    height: 30px;
    background-color: #099FFF;
    outline: none;
    border-color: rgb(255, 149, 167);
    color: rgb(255, 149, 167);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.show-fav {
    width: 105px;
    height: 30px;
    background-color: #099FFF;
    outline: none;
    border-color: rgb(255, 149, 167);
    color: rgb(255, 149, 167);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    position: absolute;
    top: 68.5px;
    right: 195px;
}

.pagination {
    margin: 20px auto 15px;
    padding: 0% 3%;
}

.page-btn {
    margin: 0 5px 5px 0;
    width: 30px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    background-color: #099FFF;
    outline: none;
    border-color: rgb(255, 149, 167);
    color: rgb(255, 149, 167);
}

.results {
    padding: 15px 3%;
    width: 100%;
    max-height: 490px;
    font-size: 22px;
    color: #0033FF;
    margin-bottom: 20px;
}

li {
    margin: 0 10px 20px;
    display: block;
}

li:hover {
    cursor: pointer;
    color: white;
}


.error {
    width: 100%;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #FF0000;
}

.details-btn {
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    text-align: center;
    float: right;
    cursor: pointer;
    background-color: #099FFF;
    outline: none;
    border-color: rgb(255, 149, 167);
    color: rgb(255, 149, 167);
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.details-btn:active {
    transform: scale(0.95);
}

.movie-details {
    display: none;
    padding: 3%;
    width: 100%;
    height: 500px;
    font-size: 20px;
    color: #FF6600;

    position: relative;
}

.movie-details img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.movie-details p {
    margin-bottom: 10px;
}

.close-btn {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    font-size: 30px;
    color: #FF0000;

    position: absolute;
    top: 0;
    right: 5px;
}

.close-btn:active {
    transform: scale(0.96);
}


.add-to-fav {
    width: 30px;
    height: 30px;
    background-color: #6E0DD0;
    outline: none;
    border-color: rgb(255, 149, 167);
    color: rgb(255, 149, 167);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    float: right;
    margin-left: 5px;
    cursor: pointer;
}


.favourites {
    padding: 5% 1% 5%;
    padding-right: 1%;
    float: left;
    width: 33vw;
    margin-right: 10px;
    margin-left: -25px;
    color: #FFFF00;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    display: none;
}

.fav {
    text-align: center;
    margin-bottom: 19px;
}

.star {
    color: gold;
}

.clear {
    width: 100px;
    height: 30px;
    background-color: #F2EA02;
    outline: none;
    border-color: #FD1C03;
    color: #FD1C03;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    float: left;
    clear: left;
    margin-right: 5px;
    cursor: pointer;
}



.visible {
    display: block;
}