* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #f6e6b4 0%,#ed9017 100%);
}

.container {
    margin: 0px auto;
    padding: 5%;
    background: linear-gradient(135deg, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%);
    width: 70vw;
    border-radius: 15px;
}

.search-form {
    margin: 0 auto 10px;
    width: 80%;
    height: 30px;
    position: relative;
}

.search-inp {
    width: 100%;
    height: 30px;
    outline: none;
    border-color: turquoise;
    padding-left: 5px;
    background: linear-gradient(135deg, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    border-radius: 10px;
    font-size: 16px;
    text-transform: capitalize;
}

.search-btn {
    width: 120px;
    height: 30px;
    background: linear-gradient(135deg, #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
    outline: none;
    color: wheat;
    text-transform: uppercase;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    position: absolute;
    top: 0;
    right: 0;
}

.pagination {
    margin: 0 auto 10px;
}

.page-btn {
    margin: 0 5px 5px 0;
    width: 30px;
    height: 30px;
    outline: none;
    background-color: yellowgreen;
    border-radius: 10px;
    border-color: gray;
    color: whitesmoke;
}

.results {
    padding: 3%;
    width: 100%;
    height: 490px;
    background: linear-gradient(135deg, #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%);
    font-size: 22px;
    color: whitesmoke;
}

li {
    margin-left: 20px;
    margin-bottom: 20px;
}

li:hover {
    cursor: pointer;
    color: seagreen;
}