* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.content {
    padding: 2% 0 1%;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

.title-block {
    width: 100%;
    margin-bottom: 20px;
    position: relative;


    &__title {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #303030;
        text-align: center;
        margin-bottom: 10px;
    }

    &__description {
        margin: 0 auto;
        width: 900px;
        font-size: 56px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 56px;
        color: #000000;
        text-transform: uppercase;
        text-align: center;
    }

    &__triangle {
        position: absolute;
        top: 115px;
        left: 280px;
    }

    &__plus {
        position: absolute;
        top: -15px;
        right: 420px;
    }
}


.glide {
    padding: 30px 0px;

    &__arrow {
        width: 50px;
        height: 50px;
        border: 1px solid #000000;
        border-radius: 50%;
        box-shadow: none;

        &:hover {
            border: 1px solid #000000;
        }

        &--right::before {
            position: relative;
            content: "";
            display: inline-block;
            width: 13px;
            height: 13px;
            border-right: 1px solid black;
            border-top: 1px solid black;
            transform: rotate(45deg);
            margin-right: 0.5em;
        }

        &--left::before {
            position: relative;
            content: "";
            display: inline-block;
            width: 13px;
            height: 13px;
            border-right: 1px solid black;
            border-top: 1px solid black;
            transform: rotate(225deg);
            margin-right: -0.5em;
        }
    }

    &__slide {
        width: 280px;

        img {
            width: 100%;
        }
    }
}

.article {
    position: relative;

    &__title {
        position: absolute;
        left: 25px;
        bottom: 50px;
        font-size: 20px;
        line-height: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        word-spacing: 5px;
        color: #ffffff;
        text-transform: uppercase;
        text-align: left;
    }

    &__author {
        position: absolute;
        left: 25px;
        bottom: 30px;
        font-size: 7px;
        font-weight: 600;
        letter-spacing: 2px;
        color: #ffffff;
        text-transform: uppercase;
        text-align: left;
    }
}