body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Neuton', serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
    height: 924px;
    position: relative;
    background-color: #464f54;
}

.page-header {
    position: absolute;
    top: 50px;
    left: 325px;
    width: 875px;
    height: 180px;
    background-color: #181818;
    z-index: 2;
}

.page-header span {
    display: inline-block;
    margin: 50px 0 0 65px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #767676;
}

.page-header h2 {
    width: 100%;
    text-align: left;
    position: relative;
    margin: 0px 460px 75px 65px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #fefefe;
    
}

.page-header h2::before {
    content: "";
    top: 10px;
    left: 295px;
    position: absolute;
    background-color: #edeff2;
    opacity: 0.6;
    width: 1.5px;
    height: 38px;
}

.page-header h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    border-bottom: 3px solid #ffffff;
    opacity: 0.1;
    width: 100%;
}

.formatting {
    position: absolute;
    top: 230px;
    left: 390px;
    width: 810px;
    height: 75px;
    background-color: #fbc02d;
    box-shadow: -10px 10px 65px rgba(0, 0, 0, 0.16);
    z-index: 2;
}

.buttons {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}

.buttons button {
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: #fbc02d;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5)
}

button:hover {
    color: #ffffff;
}

.buttons li {
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
}

.text-page {
    position: absolute;
    top: 150px;
    left: 70px;
    right: 70px;
    width: 1060px;
    background-color: #ffffff;
    z-index: 1;
}

.text-page::before {
    content: "";
    top: 0;
    left: 60px;
    position: absolute;
    background-color: #e8eced;
    width: 3px;
    height: 100%;
}

.author {
    display: inline-block;
    margin: 180px auto 0px 125px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #b4b4b4;
    text-align: left;
}

.title {
    margin: 45px auto 0px 120px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
    color: #2a2a2a;
    text-align: left;
}

.subtitle {
    display: inline-block;
    margin: 0px auto 0px 120px;
    font-family: 'Neuton', serif;
    font-size: 32px;
    font-style: italic;
    color: #8f8f8f;
    text-align: justify;
}

.text {
    margin: 45px 130px 0px 120px;
    font-family: 'Neuton', serif;
    font-size: 30px;
    line-height: 1.5;
}

.part2 {
    margin-top: 30px;
    margin-bottom: 30px;
}