@font-face {
    font-family: "Gotham Medium Regular";
    
    src: url("./fonts/Gotham-Medium-Regular.ttf") format("truetype"),
        url("./fonts/gotham-medium-webfont.woff2") format("woff2"),
        url("./fonts/gotham-medium-webfont.woff") format("woff");
}

@font-face {
    font-family: "Gotham Book";
    
    src: url("./fonts/GothamBook.ttf") format("truetype"),
        url("./fonts/GothamBook.woff") format("woff"),
        url("./fonts/GothamBook.eot") format("eot");
}

@font-face {
    font-family: "Gotham Bold";
    
    src: url("./fonts/gothambold1.ttf") format("truetype"),
        url("./fonts/gothambold1.woff") format("woff"),
        url("./fonts/gothambold1.eot") format("eot");
}

