/* fonts */
$gotham-reg: 'Gotham Medium Regular';
$gotham-book: 'Gotham Book';
$gotham-bold: 'Gotham Bold';

/* colors */
$color-prim: #ffffff;
$color-secnd: #2c4058;
$color-purp: #7e5aff;
$color-blue: #55b7ff;
