@mixin CursiveFont {
    font-family: 'Pacifico', cursive;
}

@mixin Paragraph {
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: $main_color;
}

@mixin heading ($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}