* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    background-color: #70bfff;
}

.container .services {
    margin: 180px 65px 150px 260px;
}

.container .section-title {
    margin: 100px 160px 160px 65px;
}

.services>ul {
    list-style: none;
}

.services li {
    margin-top: 20px;
    width: 400px;
    height: 100px;
}

.services li:hover {
    background-color: #ffffff;
    box-shadow: 0px 3px 8px #45769e;
}

.services li:active {
    transform: scale(0.98) translateY(3px);
}

.services .service {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #262626;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}

.service p {
    float: left;
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.service p::after {
    content: "";
    position: absolute;
    top: -35px;
    left: 300px;
    height: 100px;
    width: 1px;
    background-color: #9d9d9d;
}

li:nth-of-type(3) p {
    margin-top: 30px;
}

li:nth-of-type(3) p::after {
    top: -30px;
}

.service .icon {
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    font-size: 50px;
}

.section-title {
    padding-top: 215px;
    width: 550px;
    height: 520px;
    text-align: left;
    background: url("../assets/tomatoes.png") center no-repeat;
}

.section-title .services-title {
    font-size: 85px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}