body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container {
    margin: 0 auto;
    padding-top: 1px;
    max-width: 1500px;
    min-height: 860px;
    background-color: #b07cf7;
}

.title {
    margin: 89px auto 0px;
    font-size: 90px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    transition: .2s linear;
}

.title:hover {
    text-shadow: 0 0 10px rgb(255, 238, 0);
    transition: .2s linear;
}

.description {
    margin: 30px auto 0px;
    width: 565px;
    text-align: center;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
    color: #ffffff;
    transition: .2s linear;
}

.description:hover {
    text-shadow: 0 0 5px rgb(255, 238, 0);
    transition: .2s linear;
}

.item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 45px;
    padding: 0 160px;
}

.item {
    position: relative;
    margin-bottom: 20px;
    max-width: 370px;
    max-height: 310px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .5s linear;
    
}

.item:hover {
    box-shadow: 0px 0px 40px 20px rgba(255, 251, 1, 0.5);
    transform: translateY(-20px);
    transition: .5s linear;
}

.item:hover .date {
    transform: translateX(0);
    transition: .4s linear;
}

.item > a {
    text-decoration: none;
}

.item .date {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    font-size: 22px;
    line-height: 1;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(74, 80, 90, 0.5);
    border-radius: 5px;
    transform: translateX(-2000px);
}

.date > span {
    font-size: 32px;
    font-weight: bold;
}

.item::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to bottom, rgba(255,255,255,0.05) 50%, rgba(0, 0, 0, 0.7) 85%);;
}

.item .block-title {
    margin: 0;
    position: absolute;
    top: 205px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    line-height: 25px;
    text-align: left;
}

.item .pub-date {
    position: absolute;
    top: 275px;
    left: 20px;
    font-size: 13px;
    font-weight: 300;
    color: #ffffff;
}

.more {
    display: block;
    cursor: pointer;
    margin: 30px auto 120px;
    width: 200px;
    height: 55px;
    border: none;
    background-color: #f72b3b;
    box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 0.5);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    transition: .15s linear;
}

.more:hover {
    transform: scale(0.96);
    background-color: mediumseagreen;
    color: gold;
    box-shadow: 0px 0px 30px 0 rgb(247, 243, 2);
    transition: .2s linear;
}
